<div class="nav-student-tabs">
    <div class="container">
        <ul class="nav">

            <!-- EXAMEN -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#">
                    <i class="fas fa-file-alt me-2"></i>Examen
                </a>
                <ul class="dropdown-menu shadow">
                    <li>
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-poll me-2"></i>Résultats
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-edit me-2"></i>Demande de recorrection
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-envelope-open-text me-2"></i>Réponse de recorrection
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-user-circle me-2"></i>Infos Personnelles
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-calendar-alt me-2"></i>Emploi du temps
                </a>
            </li>

        </ul>
    </div>
</div>
